.audience {
    padding: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__title {
        text-align: right;
    }
}
